.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6600;
}

.main > div {
    display: flex;
}

.brand-image {
    height: 18px;
    width: 18px;
    border: 1px solid white;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
}

.heading {
    font-weight: 600;
    margin-right: 1rem;
}

.login {
    border-top: 1px solid #ff6600;
    margin-right: 0.5rem;
}

@media screen and (max-width: 576px) {
    .menu {
        flex-direction: column;
    }
}