.item-number {
    color: grey;
    font-size: 12px;
}

.item-title {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

.item-author {
    color: #828282;
    font-size: 12px;
    margin-left: 1rem;
}

.news-list {
    list-style: none;
    background-color: rgb(246, 246, 239);
}